[Unit]

Description=printer status for prusa

[Service]
ExecStart= python3 /home/pi/prusa_status

Restart=always
StandardOutput=append:/home/pi/prusa_status.log
StandardError=inherit

[Install]
WantedBy = multi-user.target
