[Unit]

Description=printer status for prusa

[Service]
WorkingDirectory= /home/pi/printer_status
ExecStart= python3 "Printer Status.py"

Restart=always
StandardOutput=file:/home/pi/prusa_status.log
StandardError=inherit

[Install]
WantedBy = multi-user.target
