[Unit]

Description=printer status for prusa

[Service]
WorkingDirectory= /home/pi/printer_status
ExecStart= /home/pi/printer_status/venv/bin/python "Printer Status.py"

Restart=always
StandardOutput=truncate:/home/pi/prusa_status.log
StandardError=inherit

[Install]
WantedBy = multi-user.target
